.footer {
  background-color: #031e4d;
  color: white;
  font-family: Arial, sans-serif;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  text-align: center;
  margin-bottom: 10px;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-logo h3 {
  margin: 0;
  font-size: 1.5em;
}

.footer-contact {
  text-align: center;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-contact a {
  color: #26b5fc;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer-contact a:hover {
  color: inherit;
}

.footer-section h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer-section ul li a:hover {
  color: #26b5fc;
}

.footer-section ul li a:hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 100%;
  background-color: #26b5fc;
  transition: width 0.3s ease;
}

.footer-section ul li a:hover::after {
  width: 100%;
  left: 0;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid white;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo-section {
    margin-bottom: 20px;
  }

  .footer-section,
  .footer-contact {
    margin-bottom: 20px;
  }

  .footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
